.displayed-weeks-open {
  /* width: 100%; */
  text-align: left;
  /* margin-bottom: 30px; */
  /* border-bottom: solid 1px #294b7a; */
  /* padding: 30px; */
  /* border-radius: 5px; */

  /* margin-right: 20px; */
}
