.displayed-card {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 30px;
  /* margin: 30px; */
  flex-basis: 1;
}

.delete-tour-button {
  text-align: right;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media screen and (max-width: 700px) {
  .displayed-card {
    width: 100%;
    margin: 20px;
  }
} */
